name: Build ESP32 BIN

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2

      - name: Install ESP32 core
        run: |
          arduino-cli config set board_manager.additional_urls https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
          arduino-cli core update-index
          arduino-cli core install esp32:esp32

      - name: Compile
        run: |
          arduino-cli compile \
            --fqbn esp32:esp32:esp32 \
            --export-binaries \
            ./esp32_fc

      - name: Upload BIN
        uses: actions/upload-artifact@v4
        with:
          name: esp32-bin
          path: esp32_fc/build/**
